@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.Layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5e4e7;
  gap: 40px;
  font-family: 'Space Mono', monospace;
}

.SPLITTER {
  width: 50px;
  height: 30px;
  color: #3d6666;
  top: 163px;
}

.calculation-container {
  width: 920px;
  height: 481px;
  background-color: white;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  .Layout {
    height: 100vh;
  }

  .calculation-container {
    left: 0;
    margin-top: auto;
    width: 100%;
    height: 789px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px 25px 0 0;
  }

  .SPLITTER {
    margin-top: 40px;
  }
}
