.active-button {
  background-color: #9fe8df;
}

.non-active-button {
  background-color: #00474b;
}

.small {
  margin: 10px;
  width: 117px;
  height: 48px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

.white {
  color: #ffffff;
}
