.Container {
  border-radius: 25px;
}

.big {
  width: 920px;
  height: 481px;
}

.medium {
  width: 413px;
  height: 417px;
}

.white {
  background: #ffffff;
}

.green {
  background: #00474b;
}

@media only screen and (max-width: 600px) {
  .big {
    width: 375px;
    height: 100vh;
  }

  .medium {
    width: 90%;
    height: 417px;
  }
}
