.Container {
  /* box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735); */
  border-radius: 25px;
}

.big {
  width: 920px;
  height: 481px;
}

.medium {
  width: 413px;
  height: 417px;
}

.white {
  background: #ffffff;
}

.green {
  background: #00474b;
}
