.text-white {
  color: #ffffff;
}

.text-gray-green {
  color: #7f9d9f;
}

.text-light-sea-green {
  color: #26c2ae;
}

.text-16 {
  height: 24px;
  left: 0%;
  right: 0%;
  top: calc(50% - 24px / 2 - 10px);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.text-13 {
  height: 19px;
  left: 0%;
  right: 34.69%;
  top: calc(50% - 19px / 2 + 11.5px);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
}

.text-48 {
  top: calc(50% - 71px / 2);
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -1px;
}

.tip-amount-output {
  padding: 8% 8%;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.tip-amount-text-output {
  align-self: center;
  text-align: left;
}

.tip-amount-value-output {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}

.total-output {
  padding: 8% 8%;
  display: flex;
  flex-direction: row;
  gap: 110px;
}

.total-text-output {
  align-self: center;
}

.total-value-output {
  display: flex;
  flex-direction: row;
}

.output {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .total-text-output {
    align-self: center;
    width: 30%;
    justify-content: right;
    padding-right: 30px;
  }

  .total-value-output {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 25px;
  }

  .tip-amount-value-output {
    margin-left: 0;
    justify-content: right;
    padding-right: 30px;
  }

  .CalculatorOutputs-container {
    width: 315px;
  }

  .tip-amount-output {
    padding: 0;
    padding-top: 25px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
  }

  .total-output {
    padding: 0px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;
  }

  .output {
    height: 280px;
    text-align: left;
  }

  .text-48 {
    font-size: 34px;
  }
}
