.CalculatorInputs-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bill-input {
  margin-top: 5px;
  padding-right: 4.49%;
  background-color: #f3f9fa;
  /* border: 2px #26c2ae; */
  border: 2px solid #26c2ae;
  border-radius: 5px;
  height: 48px;
  width: 379px;
  font-size: 24px;
  height: 36px;
  left: 72.03%;
  right: 4.49%;
  top: calc(50% - 36px / 2);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: right;
}

.bill-input:focus {
  border: 2px solid #26c2ae;
}

.dollar-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  background: url('../../asset/$.png') no-repeat scroll 15px 11px;
}

.person-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  background: url('../../asset/person-icon.png') no-repeat scroll 15px 11px;
}

.wrapper {
  position: relative;
}
