input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.CalculatorInputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bill-input {
  margin-top: 5px;
  padding-right: 4.49%;
  background-color: #f3f9fa;
  border: 2px solid #26c2ae;
  border-radius: 5px;
  height: 48px;
  width: 379px;
  font-size: 24px;
  height: 36px;
  left: 72.03%;
  right: 4.49%;
  top: calc(50% - 36px / 2);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: right;
}

.bill-input:focus {
  border: 2px solid #26c2ae;
}

.number-of-people-input {
  margin-top: 5px;
  padding-right: 4.49%;
  background-color: #f3f9fa;
  border: 2px solid #26c2ae;
  border-radius: 5px;
  height: 48px;
  width: 379px;
  font-size: 24px;
  height: 36px;
  left: 72.03%;
  right: 4.49%;
  top: calc(50% - 36px / 2);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: right;
}

.number-of-people-input:focus {
  border: 2px solid #26c2ae;
}

.dollar-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  background: url('../../asset/$.png') no-repeat scroll 15px 11px;
}

.person-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  background: url('../../asset/person-icon.png') no-repeat scroll 15px 11px;
}

.wrapper {
  position: relative;
}

.number-of-people-headers {
  display: flex;
  height: 45px;
  flex-direction: inherit;
  gap: 80px;
}

.select-tip-header {
  margin: 10px;
  height: 24px;
  left: 0%;
  right: 68.87%;
  top: calc(50% - 24px / 2 - 64px);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}

.bill-header {
  margin: 10px;
  margin-bottom: 3px;
  height: 24px;
  left: 0%;
  right: 89.45%;
  top: calc(50% - 24px / 2 - 27px);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}

.number-of-people-header {
  margin: 10px;
  padding-top: 7px;
  left: 0%;
  right: 58.58%;
  top: calc(50% - 24px / 2 - 27px);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}

.number-of-people-error {
  width: 138px;
  height: 24px;
  left: 66.23%;
  right: 0%;
  top: calc(50% - 24px / 2 - 27px);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #e17457;
}

@media only screen and (max-width: 600px) {
  .CalculatorInputs-container {
    width: 330px;
    padding-left: 20px;
  }

  .bill-input {
    width: 310px;
  }

  .number-of-people-input {
    width: 310px;
  }

  .bill-container {
    height: 78px;
    width: 311px;
  }

  .select-tip-container {
    height: 216px;
    width: 311px;
  }
}
